%footer.footer
  %small Based on <a href="http://railstutorial.org/">Rails Tutorial</a>
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li= link_to "News", "http://agilecode.com/"

